.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.my-footer {
    margin-bottom: 10vh;
}

.logout-btn {
    margin-right: 50px;
}

*{
    color: black;
}