<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a [routerLink]="'/'" class="navbar-brand nav-link active" href="#"
      >Clinic Manager</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">My Appoinments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Book Appointment</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Profile</a>
        </li> -->
        <li class="logout-btn" style="margin-left: 50vw">
          <button class="btn btn-danger">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-center py-4 px-4 px-xl-5"
  >
    <!-- Copyright -->

    <div class="text-dark mb-3 mb-md-0">
      Copyright © 2022. All rights reserved.
    </div>

    <!-- Copyright -->
  </div>
</footer>
