<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-md-3">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMCMVwyOxCjNawFKNvOjjOonyUSF-ko_UseLRx8ZyAWq51EIMdiDzWyzHdpZnFMtdpxX4&usqp=CAU"
          />
        </div>
        <div class="card-heading">Clinic Name</div>
        <div class="card-text">Doctor's Name</div>
        <div class="card-text">Description</div>
        <a href="appointment" class="card-button">Book</a>
      </div>
    </div>
  </div>
</div>
